<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489434370331-ncpbha5senghanjdu8maen87n8pit8cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489434370331-ncpbha5senghanjdu8maen87n8pit8cq</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ-6UntVcf8esWAe1M9pY5hdI887ExReg</string>
	<key>GCM_SENDER_ID</key>
	<string>489434370331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.managment</string>
	<key>PROJECT_ID</key>
	<string>financehub-925f3</string>
	<key>STORAGE_BUCKET</key>
	<string>financehub-925f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489434370331:ios:0b97d640de3bf55b6b03be</string>
</dict>
</plist>